<!DOCTYPE html>
<html>
<head>
    <title>About My Tech Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <%- include('nav') %>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title is-1 has-text-centered">About My Tech Blog</h1>
            <p class="has-text-centered mt-6 mb-4">Welcome to My Tech Blog! We are dedicated to providing you with the latest news and insights from the world of technology. Our team of experienced writers and tech enthusiasts is committed to delivering high-quality content that covers a wide range of topics, including artificial intelligence, cybersecurity, software development, and much more.</p>
            <p class="has-text-centered mb-6">Whether you're a tech-savvy professional or just starting your journey in the digital world, we aim to be your go-to source for information, analysis, and reviews of the most recent tech trends and innovations. Join us as we explore the cutting-edge advancements shaping our future and discover how technology continues to revolutionize the way we live, work, and play.</p>
            <div class="has-text-centered">
                <img src="/assets/main-cover.jpg" alt="Main Cover" />
            </div>
        </div>
    </section>

    <% include('footer') %>
</body>
</html>
