<!DOCTYPE html>
<html>
<head>
    <title>About My Tech Blog</title>
</head>
<body>
    <%- include('nav') %>
    <%- include('sidebar') %>
    <h1>About My Tech Blog</h1>
    <p> This tech blog represents a personal undertaking
        to show to interested viewers a general picture 
        of the tech world nowadays and give them a snapshot
        regarding the latest trends in the tech world so far
    </p>
    <%- include('footer') %>
</body>
</html>
