<div class="modal" id="addCategoryModal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h2 class="title">Add Category</h2>
        <form id="addCategoryForm">
          <div class="field">
            <label class="label">Category Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Enter category name" name="categoryName">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-success" type="submit">Add Category</button>
            </div>
            <div class="control">
              <button class="button is-danger is-outlined" id="closeAddCategoryModal">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" id="closeAddCategoryModal"></button>
  </div>
  