<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
</head>
<body>
    <%- include('nav') %>
    <%- include('sidebar') %>
    <h1>Contact Us</h1>
    <p>Feel free to write us using one of the following means of commmunication</p>
    <%- include('footer') %>
</body>
</html>
 