<div class="modal" id="editCategoryModal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h2 class="title">Edit Category</h2>
        <form id="editCategoryForm">
          <div class="field">
            <label class="label">Category Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Enter category name" name="categoryName">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-success" type="submit">Update Category</button>
            </div>
            <div class="control">
              <button class="button is-danger is-outlined" id="closeEditCategoryModal">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" id="closeEditCategoryModal"></button>
  </div>
  