<div class="modal" id="editPostModal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h2 class="title">Edit Post</h2>
        <form id="editPostForm">
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" placeholder="Enter title" name="title">
            </div>
          </div>
          <div class="field">
            <label class="label">Content</label>
            <div class="control">
              <textarea class="textarea" placeholder="Enter content" name="content"></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-success" type="submit">Update</button>
            </div>
            <div class="control">
              <button class="button is-danger is-outlined" id="closeEditPostModal">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" id="closeEditPostModal"></button>
  </div>
  