<footer class="footer">
    <div class="content has-text-centered">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <p class="has-text-weight-semibold">Get in touch</p>
                <p><i class="fas fa-envelope mr-2"></i> example@example.com</p>
                <p><i class="fas fa-phone mr-2"></i> 123-456-7890</p>
                <p><i class="fas fa-map-marker-alt mr-2"></i> 123 Street, City, Country</p>
            </div>
        </div>
        <p>&copy; 2023 Your Tech Blog</p>
    </div>
</footer>
