<nav class="bg-gray-800">
    <ul class="flex items-center justify-between px-4 py-3">
        <li class="mr-6">
            <a href="/" class="text-white hover:text-gray-300">Home</a>
        </li>
        <li class="mr-6">
            <a href="/about" class="text-white hover:text-gray-300">About</a>
        </li>
        <li class="mr-6">
            <a href="/contact" class="text-white hover:text-gray-300">Contact</a>
        </li>
        <li class="mr-6">
            <a href="/articles" class="text-white hover:text-gray-300">Articles</a>
        </li>
    </ul>
</nav>